
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Aluno</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Detalhes do Aluno</h1>
    <div class="aluno-details">
        <p>Nome: <%= aluno.nome %></p>
        <p>Matrícula: <%= aluno.matricula %></p>
        <p>serie: <%= aluno.serie %></p>
        <p>unidade: <%= aluno.unidade %></p>
        <p>EMAIL: <%= aluno.email %></p>
        <p>Senha email: <%= aluno.senha_email %></p>
        <p>Login App Vila: <%= aluno.matricula %></p>
        <p>Senha app vila: <%= aluno.senha_app %></p>
        <p>Login sfb: <%= aluno.sfb %></p>
        <p>Senha sfb: <%= aluno.senha_sfb %></p>
        <p>Login richmond: <%= aluno.richmond %></p>
        <p>Senha richmond: <%= aluno.senha_r %></p>
        <p>Senha arvore de Livros: <%= aluno.arvore_senha %></p>
        <p>evolucional: <%= aluno.evolucional %></p>
        <p>Senha evolucional: <%= aluno.senha_evo %></p>
        <p>medalhei: <%= aluno.medalhei %></p>
        
    </div>
</body>
</html>
